{% extends 'consultorio/base.html' %} {% block content %}
<h2>Lista de Citas</h2>
<a href="{% url 'consultorio:cita_create' %}" class="btn btn-primary"
  >Nueva cita</a
>
<table class="table">
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Profesional</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for cita in citas %}
    <tr>
      <td>{{ cita.paciente }}</td>
      <td>{{ cita.profesional }}</td>
      <td>{{ cita.fecha }}</td>
      <td>{{ cita.estado }}</td>
      <td>
        <a href="{% url 'consultorio:cita_detail' cita.pk %}">Ver</a> |
        <a href="{% url 'consultorio:cita_update' cita.pk %}">Editar</a> |
        <a href="{% url 'consultorio:cita_delete' cita.pk %}">Eliminar</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No hay citas.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
